releases:
  # installation du helm nginx
  - name: helm-nginx
    namespace: {{ .Values | get "data.namespace" (.Values | get "namespace" "default") }}
    chart: ../helm/nginx
    version: {{ .Values | get "nginx.version" "latest" }}
    installed: {{ .Values | get "nginx.installed" true }}
    missingFileHandler: Warn
    values:
      - ./nginx-values.yaml.gotmpl

  # installation du helm website
  - name: helm-website
    namespace: {{ .Values | get "data.namespace" (.Values | get "namespace" "default") }}
    chart: ../helm/website
    version: {{ .Values | get "website.version" "latest" }}
    installed: {{ .Values | get "website.installed" true }}
    missingFileHandler: Warn
    values:
      - ./website-values.yaml.gotmpl
